.cabezaRojo{
    fill: red;
    stroke: blue;
    stroke-width: 20;
}

.cabezaVerde{
    fill:green;
    stroke: orange;
    stroke-width: 20;
}


.cabezaNegra{
    fill: black;
}

.colorRosa{
    fill:pink;
}